# Database Configuration
# DATABASE_URL=postgresql://username:password@localhost:5432/leads_by_kary
DATABASE_URL=postgresql://postgress:Postgress123@postgress.csl4s28gcsqu.us-east-1.rds.amazonaws.com:5432/postgress


# Google Places API Key
GOOGLE_PLACES_KEY=AIzaSyBGO5ewIPuY_tJfFaK5NwXaRhEYHrEJw0U

# JWT Secret for authentication (generate a secure random string)
JWT_SECRET=49d0fd3ee6b88e80213be2ba37f339507355c9a1648db7bc1147cc4bbe74df06

# Next.js Environment
NEXTAUTH_URL=http://localhost:3000 

OPENAI_API_KEY = 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